* {
  padding: 0;
  margin: 0;
}
body {
  background: #ebf2f3;
  font-family: "Nunito", sans-serif;
}
.card {
  margin: 15px;
  border-radius: 10px;
  max-width: 800px;
}

.editButton {
  cursor: pointer;
  color: hsl(189, 80%, 52%);
  margin-right: 5px;
}

.editButtonContainer {
  display: flex;
  justify-content: flex-end;
}
